<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>零货内复核</title>
    <style>
        * {
            font-family: SumSim;
        }

        body, html {
            margin: 0;
            padding: 0;
            font-size: 14px;
            background-color: #FFFFFF;
        }

        ul, li {
            list-style: none;
        }

    </style>
</head>
<body>

<div class="content" style="width: 100%">
    <div class="panel" style="border: 1px solid">
        <div class="panel-body" style="padding: 15px">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>【出库单号】SKPZYB1027 null</td>
                    <td style="font-size: 14px; text-align: center;">【当前拼箱号】123</td>
                </tr>
                <tr>
                    <td><span>【客户名称】</span><span>001</span></td>
                    <td rowspan="3" style="text-align: center; "><img id="barcode" style="width: 165px; height: 100px;">
                    </td>
                </tr>
                <tr>
                    <td><span>【客户编号】</span><span>000000</span></td>
                </tr>
                <tr>
                    <td><span>【配送方向】</span><span>null</span></td>
                </tr>
                <tr>
                    <td><span>【支付状态】</span><span>null</span></td>
                    <td style="text-align: center;"><span>【标签条码】</span><span>1111111</span></td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 18px; font-weight: 700;">
                        <span>【开始暂存区】-【截止暂存区】</span><span>Z1--Z2</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>【内复核】</span><span>null</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>【内复核时间】</span><span>null</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
