
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在库养护明细查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="overview &amp; stats"/>
    <link rel="icon" href="" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/module/tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="../../static/module/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/t_public.css"/>
</head>
<style>

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .content {
        /*overflow: scroll;*/
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .table-box {
        flex: 1;
        width: 100%;
        overflow: auto;
        margin-bottom: 0px;
    }
    .fakeForm .input-group-addon{
        font-weight: 700;
    }
    .fakeForm .input-group{
        margin-bottom:0 !important;
    }
    .fakeForm .form-control{
        border: none; background: transparent !important; box-shadow: none !important;
    }
</style>
<body>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查询条件</h3>
            <div fold="sub" class="fold-block panel-title pull-right">
                <div class="row" style="margin: 0 auto;  margin-right: 0;">
                    <div role="group">
                        <button type="button" class="btn btn-info" onclick="btn_search()">查询</button>
                        <button type="button" class="btn btn-info" id="exportBtn">导出</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon" >起始日期：</div>
                        <input type="text" class="Wdate form-control grid_date" id="beginTime"
                               name="beginTime"
                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon" >截止日期：</div>
                        <input type="text" class="Wdate form-control grid_date"  id="endTime"
                               name="endTime"
                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'beginTime\')}'})"/>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <div class="input-group-addon">养护类别：</div>
                        <select class="form-control" id="checkType">
                            <option value="">全部</option>
                            <option value="1">重点养护</option>
                            <option value="2">普通养护</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3" style="margin-left: 45px;">
                    <label class="">重点品种数量：</label>
                    <span class="" id="pointVarietiesNum"></span>
                </div>
                <div class="col-md-3">
                    <label class="">重点批号数量：</label>
                    <span class="" id="pointBatchNum"></span>
                </div>
                <div class="col-md-3">
                    <label class="">普通品种数量：</label>
                    <span class="" id="commonVarietiesNum"></span>
                </div>
                <div class="col-md-2">
                    <label class="">普通批号数量：</label>
                    <span class="" id="commonBatchNum"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
            <div class="pull-right">
                <div class="filter-header" title="设置显示列" onclick="$('#X_Table').filterTableHead();"></div>
            </div>
        </div>
        <div class="panel-body">
            <table id="X_Table"></table>
            <div id="grid-pager"></div>
        </div>
    </div>
</div>
<div id="checkPlanInfo_Table_wrap" style="display: none; height: 100%; ">
    <div style="display: flex;flex: 1;flex-direction: column;height: 100%;">
        <div fold="body" class="panel-body fakeForm">
            <div class="col-md-6" style="width: 315px !important;">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 40% !important; text-align: left !important;">养护计划单据编号:</span>
                    <input type="text" class="form-control" style="width: 60% !important; float: left !important;" readonly id="checkPlanCode">
                </div>
            </div>
            <div class="col-md-6" style="width: 355px !important;">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 40% !important; text-align: left !important;">机构名称:</span>
                    <input type="text" class="form-control" readonly style="width: 60% !important; float: left !important;"  id="orgName">
                </div>
            </div>
            <div class="col-md-6" style="clear: left;width: 315px !important;">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 40% !important;text-align: left !important; ">部门名称:</span>
                    <input type="text" class="form-control" style="width: 60% !important; float: left !important;" readonly  id="deptName">
                </div>
            </div>
            <div class="col-md-6" style="width: 355px !important;">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 40% !important;text-align: left !important; ">养护员:</span>
                    <input type="text" class="form-control" readonly style="width: 60% !important; float: left !important;"  id="userName">
                </div>
            </div>
            <div role="group"  style="float: right;margin-top: -35px;">
            </div>
        </div>
        <div class="panel-body" style="flex: 1; display: flex;flex-direction: column;">
            <div class="table table-box">
                <table id="checkPlanInfo_Table"></table>
            </div>
            <div id="checkPlanInfo_Table-pager"></div>
        </div>
    </div>
</div>

<script src="../../static/js/jquery-2.1.4.min.js"></script>
<script src="../../static/module/bootstrap/js/bootstrap.min.js "></script>
<script src="../../static/js/configUtils.js"></script>
<script src="../../static/module/XGrid/XGrid2.0.js"></script>
<script src="../../static/module/My97DatePicker/WdatePicker.js"></script>
<script src="../../static/module/artDialog/dist/dialog-plus-min.js"></script>
<script src="../../static/module/tagsinput/bootstrap-tagsinput.js"></script>
<script src="../../static/business/gsp/detailedQuery.js"></script>
</body>
</html>
