<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="overview &amp; stats" />
  <title>异常提交</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/css/b.tabs.css">
  <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
  <link rel="stylesheet" href="../../../static/css/public.css">
  <link rel="stylesheet" href="../../../static/css/z_public.css">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="content" style="overflow-y: auto">
    <div class="panel panel-default con-body">
      <div class="table-box">
        <table id="table_a"></table>
      </div>
      <div id="grid_pager_a"></div>
    </div>
  </div>
  <!-- rowtype -->
  <div style="display:none">
    <div id="text15_e">
      <select name="a" class="form-control">
        <option value="0">否</option>
        <option value="1">是</option>
      </select>
    </div>
  </div>
  <div style="display:none">
    <div id="text16_e">
      <input type="text">
    </div>
  </div>
  <div style="display:none">
    <div id="text17_e">
      <input type="text">
    </div>
  </div>
  <script src="../../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../../static/module/bootstrap/js/bootstrap.js"></script>
  <script src="../../../static/js/configUtils.js"></script>
  <script src="../../../static/module/XGrid/XGrid.js"></script>
  <script src="../../../static/module/validate/jquery.validate.js"></script>
  <script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
  <script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
  <script src="../../../static/module/jquery-autocomplete/jquery.autocomplete.js"></script>
  <script src="../../../static/js/z_utils.js"></script>
  <script src="../../../static/business/outputStorageWork/internal_review/abnormal_submit.js"></script>
</body>

</html>