<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="overview &amp; stats" />
  <title>扫描监管码</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/css/b.tabs.css">
  <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
  <link rel="stylesheet" href="../../../static/css/public.css">
  <link rel="stylesheet" href="../../../static/css/z_public.css">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="content scanCode">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="form_a">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">业主名称：</span>
              <input name="a" class="form-control" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">销售单号：</span>
              <input name="a" class="form-control" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">分配单号</span>
              <input name="a" class="form-control">
            </div>
          </div>
        </form>
        <div class="pull-right" role="group">
          <button type="button" class="btn btn-info vs-h" id="resetBtn">
            重置 (F3)
          </button>
          <button type="button" class="btn btn-info" id="unlockBtn">
            解锁 (F4)
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12 box-info">
          <div class="col-md-3"><label>销售单号：</label><span></span></div>
          <div class="col-md-3"><label>商品名称：</label><span></span></div>
          <div class="col-md-3"><label>生产厂家：</label><span></span></div>
        </div>
        <div class="col-md-12 box-info">
          <div class="col-md-3"><label>件包装数量：</label><span></span></div>
          <div class="col-md-3"><label>中包装数量：</label><span></span></div>
        </div>
        <div class="col-md-12 ">
          <label>单据总数量：</label><span>0</span>
          <label>品规总数量：</label><span>0</span>
          <label>折合件数：</label><span>0</span>
          <label>件数：</label><span>0</span>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="margin-bottom: 0px">
      <div class="panel-body">
        <div class="table-box">
          <table id="table_a"></table>
        </div>
        <p id="grid-pager"></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">扫描监管码：</span>
            <input class="form-control" >
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="input-group">
            <button type="button" class="btn btn-info">
              重新选择扫描规则
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <button type="button" class="btn btn-info">
              删除（F2）
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="packingSize" id="packingSize1">
              大包装
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="packingSize" id="packingSize2">
              中包装
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="packingSize" id="packingSize3">
              小包装
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-box">
            <table id="table_b"></table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-box">
            <table id="table_c"></table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-box">
            <table id="table_d"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 解锁弹出框 -->
  <div id="close_unlock">
    <div class="content">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="row">
              <div class="col-md-10">
                <div class="input-group">
                  <span class="input-group-addon">工号：</span>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-10">
                <div class="input-group">
                  <span class="input-group-addon">名称：</span>
                  <span style="line-height: 34px; padding-left: 8px;">名称</span>
                </div>
              </div>
              <div class="col-md-10">
                <div class="input-group">
                  <span class="input-group-addon">密码：</span>
                  <input type="password" class="form-control">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../../static/module/bootstrap/js/bootstrap.js"></script>
  <script src="../../../static/js/configUtils.js"></script>
  <script src="../../../static/module/XGrid/XGrid.js"></script>
  <script src="../../../static/module/validate/jquery.validate.js"></script>
  <script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
  <script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
  <script src="../../../static/module/jquery-autocomplete/jquery.autocomplete.js"></script>
  <script src="../../../static/js/z_utils.js"></script>
  <script src="../../../static/business/outputStorageWork/internal_review/scanCode.js"></script>
</body>

</html>