<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提取验收单</title>
    <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../../static/css/public.css">
</head>

<body>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">验收单列表</h3>
            <div class=" pull-right" role="group">
                <button type="button" class="btn btn-info">查询</button>
                <button type="button" class="btn btn-info">重置</button>
            </div>
        </div>
        <div class="panel-body">
            <form id="myform">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">验收日期</div>
                            <input lit="search" type="text" name="beginTime" class="Wdate form-control grid_date"
                                   onfocus="WdatePicker()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">验收单编号</div>
                            <input type="text" name="qq" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">商品名称</div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">采购员</div>
                            <input type="text" class="form-control">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">下单日期</div>
                            <input lit="search" type="text" name="beginTime" class="Wdate form-control grid_date"
                                   onfocus="WdatePicker()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">截止日期</div>
                            <input lit="search" type="text" name="endTime" class="Wdate form-control grid_date"
                                   onfocus="WdatePicker()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">供应商名称</div>
                            <input type="text" class="form-control">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table">
        <div class="panel panel-default">
            <!-- 表格 -->
            <div class="panel-body">
                <div class="hidden-x-scroll">
                    <table id="X_Tableb" class="XGridUI stripedTable"></table>
                </div>
                <p id="grid-pager"></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">验收单明细列表</h3>
            <div class="pull-right " role="group">
                <button type="button" class="btn btn-info" id="submitAssert">提交</button>
                <button type="button" class="btn btn-info" id="closeAssert">取消</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="hidden-x-scroll">
                <table id="X_Table" class="XGridUI stripedTable"></table>
            </div>
            <div id="grid-pager"></div>
        </div>
    </div>
</div>
</body>
<script src="../../../static/module/jquery/3.3.1/jquery.min.js"></script>
<script src="../../../static/module/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
<script src="../../../static/js/configUtils.js"></script>
<script src="../../../static/module/XGrid/XGrid.js"></script>
<script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
<script src="../../../static/business/Effective_commodity/acceptanceList/extractAcceptance.js"></script>

</html>
