<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>z-tree基本结构</title>
    <link rel="stylesheet" href="../../static/module/ztree/css/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/module/bootstrap/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../static/css/public.css">

    <!--<script type="text/javascript" src="../../static/module/ztree/js/jquery-1.4.4.min.js"></script>-->
    <script src="../../static/module/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/module/ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../static/module/ztree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="../../static/module/ztree/js/jquery.ztree.exedit.js"></script>


    <!--<script src="../../static/module/jquery/3.3.1/jquery.js"></script>-->
    <script src="../../static/js/configUtils.js"></script>
    <script src="../../static/module/XGrid/XGrid.js"></script>
</head>

<body>

    <div class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">商品资料维护</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">商品分类树</h3>
                            </div>
                            <div class="panel-body" style="height: 500px;">
                                <div id="tree" class="ztree"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-8 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">商品列表</h3>
                            </div>
                            <div class="panel-body">
                                <table id="XYY_Table">
                                    <tr>
                                        <th>出库单号</th>
                                        <th>出库类型</th>
                                        <th>总金额</th>
                                        <th>申请人(单位)</th>
                                        <th>备注</th>
                                    </tr>

                                </table>
                                <!--<div id="grid-pager"></div>-->
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>


</body>

<script type="text/javascript">
    var grid_data = [{
            id: "00001",
            type: "退货出库",
            pay: "1000",
            name: "abc",
            text: "ccc"
        },
        {
            id: "00002",
            type: "退货出库",
            pay: "1000",
            name: "abc",
            text: "aaa"
        },
        {
            id: "00003",
            type: "退货出库",
            pay: "1040.06",
            name: "abc",
            text: "ddd"
        },
        {
            id: "00004",
            type: "退货出库",
            pay: "1040.06",
            name: "abc",
            text: "ddd"
        },
        {
            id: "00005",
            type: "退货出库",
            pay: "1040.06",
            name: "abc",
            text: "ddd"
        },
        {
            id: "00006",
            type: "退货出库",
            pay: "1040.06",
            name: "abc",
            text: "ddd"
        }
    ];

    //左
    var zTreeObj;
    var zTreeNodes = [{
        id: 0,
        name: "全国",
        // open: true,//展开
        children: [{
                id: 1,
                name: "湖北",
                children: [{
                        id: 11,
                        name: "武汉"
                    },
                    {
                        id: 12,
                        name: "宜昌"
                    },
                    {
                        id: 13,
                        name: "荆州"
                    },
                    {
                        id: 14,
                        name: "孝感"
                    }
                ]
            },
            {
                id: 2,
                name: "湖南",
                // checked:true  //默认选中
            },
            {
                id: 3,
                name: "河南"
            }
        ]
    }];
    var setting = {
        callback: {
            onClick: zTreeOnClick,
        },
        check: {
            enable: true, //显示勾选框  默认不显示
        },
    };
    $(document).ready(function () {
        zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
    });

    //更新表格数据
    function update_table(newdata) {
        // $("#XYY_Table").jqGrid('clearGridData'); //清空表格
        // $("#XYY_Table").jqGrid('setGridParam', { // 参数
        //     //datatype: 'local',
        //     data: newdata,
        //      page:1
        // }).trigger("reloadGrid");
    }

    //选中事件
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(event, treeId, treeNode);
        grid_data = [];
        grid_data = [{
            id: "1",
            type: "2",
            pay: "3",
            name: treeNode.name,
            text: "5"
        }]

        all()
    };

    //右


    function all() {

        $('#XYY_Table').XGrid({
            data: grid_data,
            //url:'http://172.16.1.18:8081/purchase/bill/purchaseList?type=01&_search=false&nd=1527510833664&rows=20&page=1&sidx=&sord=asc',
            colNames: ['出库单号', '出库类型', '总金额', '申请人（单位）', '备注'],
            colModel: [{
                name: 'id',
                index: 'id', //索引。其和后台交互的参数为sidx
                key: true, //当从服务器端返回的数据中没有id时，将此作为唯一rowid使用只有一个列可以做这项设置。如果设置多于一个，那么只选取第一个，其他被忽略
                width: 100,
                editable: true,
                edittype: "input",
                editoptions: {
                    size: "20",
                    maxlength: "30"
                }
            }, {
                name: 'type',
                index: 'type',
                width: 200, //宽度
                editable: true, //是否可编辑
                edittype: "select", //可以编辑的类型。可选值：text, textarea, select, checkbox, password, button, image and file.s
                editoptions: {
                    value: "1:采购入库;2:退用入库"
                }
            }, {
                name: 'pay',
                index: 'pay',
                width: 60,
                sorttype: "double",
                editable: true
            }, {
                name: 'name',
                index: 'name',
                width: 150,
                editable: true,
                editoptions: {
                    size: "20",
                    maxlength: "30"
                }
            }, {
                name: 'text',
                index: 'text',
                width: 250,
                sortable: false,
                editable: true,
                edittype: "textarea",
                editoptions: {
                    rows: "2",
                    cols: "10"
                }
            }, ],
            rowNum: 10,
            altRows: true, //设置为交替行表格,默认为false
            ondblClickRow: function (e, c, a, b) {
                console.log('双击行', e, c, a, b);
            },
            onSelectRow: function (e, c, a, b) {
                console.log('单机行', e, c, a, b);
                return 1;
            },
            pager: '#grid-pager',
        });
    }

    all()
</script>
<style>
    .stripedTable tr:nth-child(odd) {
        background: #F9F9F9;
    }

    #XYY_Table tr.hoverRow {
        background: #eff4f7;
    }

    #XYY_Table tr.selRow {
        background: #99CCCC;
    }

    #XYY_Table {
        border-collapse: collapse;
        font-size: 14px;
    }

    #XYY_Table th,
    #XYY_Table td,
    #XYY_Table {
        padding: 0;
        margin: 0;
        border: 1px solid black;
    }

    #XYY_Table th {
        line-height: 22px;
        background: #383D41;
        color: #ffffff;
        padding: 6px 40px;
        text-align: center;
    }

    #XYY_Table td {
        padding: 8px 3px;
    }

    #XYY_Table {
        width: 100%;
    }

    #grid-pager #grid-pager_center td {
        padding: 5px;
    }
</style>

</html>