<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>按商品提取</title>
    <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../../static/css/public.css">
</head>

<body>
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">商品列表</h3>
                <div class=" pull-right" role="group">
                    <button type="button" class="btn btn-info">查询</button>
                    <button type="button" class="btn btn-info">重置</button>
                </div>
            </div>
            <div class="panel-body">
                <form id="myform">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">供应商编号</div>
                                <input type="text" name="qq" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">供应商名称</div>
                                <input type="text" name="qq" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">采购订单编号</div>
                                <input type="text" name="qq" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">商品名称</div>
                                <input type="text" class="form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">采购员</div>
                                <input type="text" class="form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-info">商品扫描</button>
                <div class=" pull-right" role="group">
                    <button type="button" class="btn btn-info">新增行</button>
                    <button type="button" class="btn btn-info">删除行</button>
                </div>
            </div>
            <div class="panel-body active">
                <table id="X_Table" class="XGridUI stripedTable"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</body>
<script src="../../../static/module/jquery/3.3.1/jquery.min.js"></script>
<script src="../../../static/module/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
<script src="../../../static/js/configUtils.js"></script>
<script src="../../../static/module/XGrid/XGrid.js"></script>
<script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
<script src="../../../static/business/Effective_commodity/receiptList/commodityExtract.js"></script>

</html>
