<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>复查单管理</title>
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/module/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../static/css/public.css">
</head>

<body>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">复查单管理</h3>
            <div class="pull-right " role="group">
                <button type="button" class="btn btn-info">查询</button>
                <button type="button" class="btn btn-info">重置</button>
                <button type="button" class="btn btn-info" id="saveData">导出</button>
            </div>
        </div>
        <div class="panel-body">
            <form id="myform">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">创建日期</div>
                            <input lit="search" type="text" name="beginTime" class="Wdate form-control grid_date"
                                   onfocus="WdatePicker()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">截止日期</div>
                            <input lit="search" type="text" name="endTime" class="Wdate form-control grid_date"
                                   onfocus="WdatePicker()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">单据状态</div>
                            <select class="form-control" autocomplete="off">
                                <option>&nbsp;进行中</option>
                                <option>&nbsp;已完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon require">关键字</div>
                            <input type="text" name="qq" class="form-control" placeholder="销退验收单号、销退收货单号、销退开票单号">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">收货员</div>
                            <input type="text" class="form-control">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">商品编码</div>
                            <input type="text" class="form-control">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">复查单编号</div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">质量复查单类型</div>
                            <select class="form-control" autocomplete="off">
                                <option>&nbsp;入库复查</option>
                                <option>&nbsp;复查单类型</option>
                                <option>&nbsp;出库复查</option>
                                <option>&nbsp;移库复查</option>
                                <option>&nbsp;销售退回复查</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">验收员</div>
                            <input type="text" class="form-control">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">复查单列表</h3>
        </div>
        <div class="panel-body active">
            <table id="X_Table"></table>
            <div id="grid-pager"></div>
        </div>
    </div>
</body>
<script src="../../static/module/jquery/3.3.1/jquery.min.js"></script>
<script src="../../static/module/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/module/My97DatePicker/WdatePicker.js"></script>
<script src="../../static/js/configUtils.js"></script>
<script src="../../static/module/XGrid/XGrid2.0.js"></script>
<script src="../../static/module/artDialog/dist/dialog-plus-min.js"></script>
<script src="../../static/business/saleBack/Review_list.js"></script>

</html>
