<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="overview &amp; stats" />
  <title>指定批号索取</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/css/b.tabs.css">
  <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
  <link rel="stylesheet" href="../../../static/css/public.css">
  <link rel="stylesheet" href="../../../static/css/z_public.css">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="content">
    <div class="panel panel-default ">
      <div class="panel-body">
        <div class="pull-left" style="height:34px;line-height: 34px;">
            <label>需分配数量：</label><span class="allocation"></span>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-info" id="ok">
            确认
          </button>
          <button type="button" class="btn btn-info" id="close">
            取消
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">订单详情</h3>
      </div>
      <div class="panel-body">
        <div class="table-box">
          <table id="table_a"></table>
        </div>
        <div id="grid_pager_a"></div>
      </div>
    </div>
  </div>
  <!-- rowtype -->
  <div style="display:none">
    <div id="text7_e">
      <input type="text" class="form-control" name="text7">
    </div>
  </div>
  <div style="display:none">
    <div id="text7_d">
      <div type="text" class="form-control" name="text7" disabled >
    </div>
  </div>
  <script src="../../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../../static/module/bootstrap/js/bootstrap.js"></script>
  <script src="../../../static/js/configUtils.js"></script>
  <script src="../../../static/module/XGrid/XGrid.js"></script>
  <script src="../../../static/module/validate/jquery.validate.js"></script>
  <script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
  <script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
  <script src="../../../static/module/jquery-autocomplete/jquery.autocomplete.js"></script>
  <script src="../../../static/js/z_utils.js"></script>
  <script src="../../../static/business/outputStorageWork/task_matching_and_scheduling/batch_acquire.js"></script>
</body>

</html>