<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="overview &amp; stats" />
  <title>冲红</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/css/b.tabs.css">
  <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
  <link rel="stylesheet" href="../../../static/css/public.css">
  <link rel="stylesheet" href="../../../static/css/z_public.css">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="content">
    <div class="panel panel-default con-body">
      <div class="panel-heading">
        <form id="form_a">
          <div class="col-md-2">
            <div class="radio vs-h" >
              <label>
                <input type="radio" name="type" value="0" checked="checked">
                对指定商品冲红
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="radio vs-h">
              <label>
                <input type="radio" name="type" value="1">
                整单冲红
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info" id="rush_red_ok">
              冲红确认
            </button>
            <button type="button" class="btn btn-info" id="rush_red_close">
              冲红取消
            </button>
          </div>
        </form>
      </div>
      <div class="panel panel-default con-body">
        <div class="panel-body nav-title">
          <ul class="nav nav-tabs pull-left">
            <li role="presentation" class="active">
              <a href="javascript:">订单详情</a>
            </li>
          </ul>
        </div>
        <div class="nav-content" id="nav_content">
          <div class="panel-body active">
            <div class="table-box">
              <form id="table_form">
                <table id="table_a"> </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rowtype -->
  <div style="display:none">
    <div id="text12_e">
      <input class="form-control">
    </div>
    <div id="text13_e">
      <select name="a" class="form-control" style="min-width:120px">
        <option value="0">无货</option>
        <option value="1">包装破损</option>
        <option value="2">无此批号</option>
        <option value="3">生成拣货单</option>
        <option value="3">取消计划</option>
        <option value="3">不拆零</option>
        <option value="3">调度冲红</option>
        <option value="3">其他</option>
      </select>
    </div>
  </div>
  <script src="../../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../../static/module/bootstrap/js/bootstrap.js"></script>
  <script src="../../../static/js/configUtils.js"></script>
  <script src="../../../static/module/XGrid/XGrid.js"></script>
  <script src="../../../static/module/validate/jquery.validate.js"></script>
  <script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
  <script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
  <script src="../../../static/module/jquery-autocomplete/jquery.autocomplete.js"></script>
  <script src="../../../static/js/z_utils.js"></script>
  <script src="../../../static/business/outputStorageWork/task_matching_and_scheduling/rush_red.js"></script>
</body>

</html>