<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="overview &amp; stats" />
  <title>零货拣货单</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../static/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/css/b.tabs.css">
  <link rel="stylesheet" href="../../../static/module/artDialog/css/ui-dialog.css">
  <link rel="stylesheet" href="../../../static/css/public.css">
  <link rel="stylesheet" href="../../../static/css/z_public.css">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="content scanCode">
    <div class="panel panel-default" style="margin-bottom: 0px">
      <div class="panel-body nav-title">
        任务包号:
      </div>
      <div class="panel-body">
        <div class="table-box">
          <table id="table_a"></table>
        </div>
        <p id="grid-pager"></p>
      </div>
    </div>
  </div>
  <script src="../../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../../static/module/bootstrap/js/bootstrap.js"></script>
  <script src="../../../static/js/configUtils.js"></script>
  <script src="../../../static/module/XGrid/XGrid.js"></script>
  <script src="../../../static/module/validate/jquery.validate.js"></script>
  <script src="../../../static/module/artDialog/dist/dialog-plus-min.js"></script>
  <script src="../../../static/module/My97DatePicker/WdatePicker.js"></script>
  <script src="../../../static/module/jquery-autocomplete/jquery.autocomplete.js"></script>
  <script src="../../../static/js/z_utils.js"></script>
  <script src="../../../static/business/outputStorageWork/sporadic_task/revolveBox.js"></script>
</body>

</html>