<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>补货商品查询</title>
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/module/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/t_public.css">
    <style>
        .margin-left-10 {
            margin-left: 10px !important;
        }
    </style>
</head>
<body>

<div class="content">
    <div class="table">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
                <div class="pull-right">
                    <button class="btn btn-info">查询</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">库别编号：</span>
                            <select class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">请选择</option>
                                <option value="2">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">区域编号：</span>
                            <select class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">请选择</option>
                                <option value="2">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">业主名称：</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">ABC分类：</span>
                            <select class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">请选择</option>
                                <option value="2">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">业主名称：</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">商品明细</h3>
                <div class="pull-right">
                    <button class="btn btn-info" id="btn_create_notice">生成补货通知单</button>
                    <button class="btn btn-info">导出</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-box">
                    <table id="info_table"></table>
                </div>
                <div id="grid_pager"></div>
            </div>
        </div>

    </div>
</div>


<!--补货通知单确认,begin-->
<div id="confirm_dialog" style="display: none;">
    <div class="content">
        <div class="table">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询条件</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">日期：</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">业主名称：</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="button" class="btn btn-info" value="查询">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">商品明细</h3>
                    <div class="pull-right">
                        <button class="btn btn-info margin-left-10">新增</button>
                        <button class="btn btn-info margin-left-10">删除</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-box">
                        <table id="info_table_1"></table>
                    </div>
                    <div id="grid_pager_1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--补货通知单确认,end-->


</body>
<script src="../../static/js/jquery-2.1.4.min.js"></script>
<script src="../../static/module/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/module/My97DatePicker/WdatePicker.js"></script>
<script src="../../static/js/configUtils.js"></script>
<script src="../../static/module/XGrid/XGrid.js"></script>
<script src="../../static/module/artDialog/dist/dialog-plus-min.js"></script>
<script src="../../static/js/t_utils.js"></script>
<script src="../../static/business/replenishmentOperation/replenishmentGoodsSearch.js"></script>
</html>