<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资质审批表</title>
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <style>
        caption {
            text-align: center;
            font-size: 30px;
        }

        .table {
            width: 1000px;
            margin: 0 auto;
        }

        .table-bordered>tbody>tr>td {
            padding: 10px 33px;
        }
    </style>
</head>

<body>
    <div class="content">
        <table class="table table-bordered">
            <caption>表格标题
                <p style="font-size: 16px;margin-left: 650px;">单据编号：</p>
            </caption>
            <tbody align="center">
                <tr>
                    <td align="left" colspan="3" width="800px" style="border-right: 0;">申请人：</td>
                    <td align="left" width="400px" style="border-left: 0;">申请日期：</td>
                </tr>
                <tr>
                    <td width="150px">客户编号</td>
                    <td></td>
                    <td width="150px">客户类别</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">法定代表人</td>
                    <td></td>
                    <td width="150px">企业负责人</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">经营范围</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td width="150px">仓库地址</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td width="150px">注册地址</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td width="150px">统一社会信用代码</td>
                    <td></td>
                    <td width="150px">发证机关</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">发证日期</td>
                    <td></td>
                    <td width="150px">有效期至</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">银行账号</td>
                    <td></td>
                    <td width="150px">开户银行</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">税务登记号</td>
                    <td></td>
                    <td width="150px">联系电话</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">委托人</td>
                    <td></td>
                    <td width="150px">委托人身份证号</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="150px">特殊经营</td>
                    <td colspan="3">
                        <input type="checkbox" id="test" />
                        <lable for="test">是否可经营注射剂</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="test" />
                            <lable for="test">是否可经营抗生素</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="test" />
                                <lable for="test">一般纳税人证明</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" id="test" />
                                    <lable for="test">是否可经营终止妊娠</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" id="test" />
                                        <lable for="test">是否可经营特殊管理药品</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="checkbox" id="test" />
                                            <lable for="test">是否可经营含兴奋剂</label>
                    </td>
                </tr>
                <tr>
                    <td width="150px">质管部部长意见</td>
                    <td colspan="3" align="left">
                        <p>（意见）</p>
                        <p style="overflow: hidden;">
                            <span style="float: left;">质管部部长：</span>
                            <span style="float: right;margin-right: 350px">日期：</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="150px">质量副总经理意见</td>
                    <td colspan="3" align="left">
                        <p>（意见）</p>
                        <p style="overflow: hidden;">
                            <span style="float: left;">质量副总经理：</span>
                            <span style="float: right;margin-right: 350px">日期：</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="../../static/module/jquery/3.3.1/jquery.js"></script>
<script src="../../static/module/bootstrap/js/bootstrap.js"></script>

</html>