<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="overview &amp; stats" />
    <link rel="icon" href="" type="image/x-icon" />
    <title>我的工作台 X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/module/bootstrap/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/module/artDialog/css/ui-dialog.css">
</head>

<body>
    <div class="content">
        <div class="panel panel-default" style="background: #ebedf1;">
            <div class="panel-body" style="padding: 0 15px;">
                <div class="row" style="height: 260px;margin-bottom:6px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 agency">
                        <h1>待办事件
                            <small>全部</small>
                        </h1>
                        <div class="row" style="margin: 3px 0 7px; display: flex;justify-content: space-between;">
                            <div class="col-md-6 col-sm-6 approved">
                                <p style="font-size: 12px;font-weight: normal;">待审批流程</p>
                                <p style="font-family: Impact;font-size: 24px;">10</p>
                            </div>
                            <div class="col-md-6 col-sm-6 consulted">
                                <p style="font-size: 12px;font-weight: normal;">待查阅通知</p>
                                <p style="font-family: Impact;font-size: 24px;">10</p>
                            </div>
                        </div>
                        <div class="row-content">
                            <div class="row" style="margin: 3px 0 7px; display: flex;justify-content: space-between;">
                                <div class="col-md-6 col-sm-6 order">
                                    <ol>
                                        <li><a href="#">商品首营申请4549846512165</a></li>
                                        <li><a href="#">商品首营申请4549846512165</a></li>
                                        <li><a href="#">商品首营申请4549846512165</a></li>
                                        <li><a href="#">商品首营申请4549846512165</a></li>
                                        <li><a href="#">商品首营申请4549846512165</a></li>
                                    </ol>
                                </div>
                                <div class="col-md-6 col-sm-6 order">
                                    <ol>
                                        <li>商品首营申请4549846512165</li>
                                        <li>商品首营申请4549846512165</li>
                                        <li>商品首营申请4549846512165</li>
                                        <li>商品首营申请4549846512165</li>
                                        <li>商品首营申请4549846512165</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 abnormal">
                        <h1>异常数据提醒</h1>
                        <div class="row-content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 order">
                                    <ol>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                        <li>
                                            <a href="#">士大夫v的发货</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 405px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 entrance">
                        <h1>功能快捷入口</h1>
                        <div class="row-content1" style="padding-left: 0;">
                            <div class="row" style="margin: 10px 0 7px; display: flex;justify-content: space-between;">
                                <div class="col-md-6 col-sm-6 order masterList">
                                    <div class="master">
                                        <img src="../../static/images/zsj.png" alt="">
                                        <p>主数据</p>
                                    </div>
                                    <ol>
                                        <li>机构商品</li>
                                        <li>机构商品</li>
                                        <li>机构商品</li>
                                        <li>机构商品</li>
                                    </ol>
                                </div>
                                <div class="col-md-6 col-sm-6 order orderList">
                                    <div class="order-list">
                                        <img src="../../static/images/dd.png" alt="">
                                        <p>订单</p>
                                    </div>
                                    <ol>
                                        <li>销售订单</li>
                                        <li>销售订单</li>
                                        <li>销售订单</li>
                                        <li>销售订单</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px; display: flex;justify-content: space-between;">
                                <div class="col-md-6 col-sm-6 order purchaseList">
                                    <div class="purchase">
                                        <img src="../../static/images/cg.png" alt="">
                                        <p>采购</p>
                                    </div>
                                    <ol>
                                        <li>采购订单</li>
                                        <li>采购订单</li>
                                        <li>采购订单</li>
                                        <li>采购订单</li>
                                    </ol>
                                </div>
                                <div class="col-md-6 col-sm-6 order financeList">
                                    <div class="finance">
                                        <img src="../../static/images/cw.png" alt="">
                                        <p>财务</p>
                                    </div>
                                    <ol>
                                        <li>财务</li>
                                        <li>财务</li>
                                        <li>财务</li>
                                        <li>财务</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 record">
                        <h1>系统更新记录</h1>
                        <div class="row-content1" style="height: 350px;">
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin: 3px 0 7px;">
                                <div class="col-md-12 col-sm-12 order recordList">
                                    <h2>v1.0 2018-7-10 19:42:21</h2>
                                    <ol>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                        <li>优化主数据交互方式</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/module/jquery/3.3.1/jquery.js"></script>
    <script src="../../static/module/bootstrap/js/bootstrap.js"></script>
    <script src="../../static/js/b.tabs.js"></script>
    <script src="../../static/js/public.js"></script>
    <script src="../../static/module/validate/jquery.validate.js"></script>
    <script src="../../static/module/validate/validate-methods.js"></script>
    <script src="../../static/module/validate/jquery.metadata.js"></script>
    <script src="../../static/module/validate/validToop.js"></script>
    <script src="../../static/module/artDialog/dist/dialog-plus-min.js"></script>
    <script>
        $(function () {
            //tab页切换
            $('.nav-tabs>li').on('click', function () {
                var $this = $(this),
                    $nav_content = $('.nav-content');
                $this.addClass('active').siblings().removeClass('active');
                $nav_content.children('div').eq($this.index()).show().siblings().hide();
            });
            //a点击后记录
            $('.abnormal .order ol li a').on('click', function () {
                $(this).addClass('active')
            })
            $('.approved,.consulted,small,.order ol li').on('click', function () {
                parent.openTabs("purchase_order_management", "采购订单管理", "/erp-views/template/gridDemo.html");
            })
        })
    </script>
</body>

</html>